@import "/src/variables";

.pagination-container {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;

    .pagination-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        margin: auto 0.25rem;
        font-size: 0.875rem;

        &.common-button {
            background-color: $c-default;
        }

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        &.selected {
            background-color: $c-primary;
        }

        &.disabled {
            pointer-events: none;
            background-color: $c-default !important;
            opacity: 0.4;

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}
