@import "/src/variables";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;

    border: none;
    color: white;
    background-color: $c-primary;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    outline: transparent solid 3px !important;
    line-height: 100%;

    .icon {
        aspect-ratio: 1/1;
        height: 16px;
    }

    &:hover {
        background-color: $c-primary-hover;
    }

    &:focus {
        outline-color: rgba($color: $c-primary-hover, $alpha: 0.8) !important;
    }

    &.secondary {
        background-color: $c-default;

        &:hover {
            background-color: $c-default-hover;
        }

        &:focus {
            outline-color: rgba(
                $color: $c-default-hover,
                $alpha: 0.8
            ) !important;
        }
    }

    &.tritary {
        background-color: $c-tritary;

        &:hover {
            background-color: $c-tritary-hover;
        }

        &:focus {
            outline-color: rgba(
                $color: $c-tritary-hover,
                $alpha: 0.8
            ) !important;
        }
    }
}
