.guildCard {
    position: relative;
    display: flex;
    justify-content: space-between;
    //grid-template-columns: 0fr 1fr 0.18fr;
    gap: 20px;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;

    .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: 50% !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        z-index: 0;
        opacity: 0.2;
        filter: blur(15px);
        background: var(--bgURL) repeat scroll 0% 0%;
    }

    .logo {
        height: 144px;
        border-radius: 5px;
    }

    .badge {
        display: inline-flex;
        gap: 10px;
        height: 25px;
        background: rgba(65, 65, 65, 0.2);
        border-radius: 5px;
        margin-right: auto;
        padding: 3px 7px;
        align-items: center;
    }

    .title {
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        margin: 0;
    }

    .stat {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: right;

        .icon {
            width: 18px;
        }
    }

    .join {
        padding: 6px 17px;
        border: none;
        color: white;
        background-color: var(--guild-color);
        border-radius: 5px;
        text-align: center;
    }

    .col {
        z-index: 1;
    }
}

@media screen and (max-width: 700px) {
    .guildCard {
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3,
        p {
            text-align: inherit;
        }

        .stats {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
