@import "/src/variables";

.guildsCard {
    position: relative;
    display: flex;
    padding: 32px;
    background-color: $c-default;
    border-radius: 8px;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 170px;
        a,
        p {
            position: relative;
            z-index: 1;
        }

        a {
            text-decoration: none;
        }

        h3 {
            font-size: 1.7rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .description span {
            color: $c-text-secondary;
        }

        .stats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 10px;
            text-align: right;

            .stat {
                display: flex;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                font-size: 0.9rem;

                &:not(button) {
                    padding: 4px;
                    border: 2px $c-text-secondary solid;
                }

                .icon {
                    aspect-ratio: 1/1;
                    height: 15px;
                }

                &:nth-child(1) {
                    transform: translateX(15px);
                }

                &:nth-child(3) {
                    transform: translateX(-15px);
                }
            }
        }
    }

    .cover {
        position: absolute;
        top: 0;
        right: 0;
        aspect-ratio: 1/1;
        height: 340px;
        transform: rotate(20deg) translate(130px, -90px);
        overflow: hidden;

        img {
            aspect-ratio: 1/1;
            height: 340px;
            transform: translateX(-75px);
            filter: contrast(80%);
        }
    }
}

@media screen and (max-width: 700px) {
    .guildsCard {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
            margin-top: calc(96px - 32px + 16px);

            .cover {
                position: absolute;
                top: 0;
                transform: none;
                height: 96px;
                width: 100%;

                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    transform: none;
                }
            }

            .details {
                display: contents;
            }

            h3,
            p {
                margin: 0;
                text-align: inherit;
            }

            .description {
                order: 1;
            }

            .stats {
                flex-direction: row;
                padding: 8px 0;
                gap: 30px;

                button {
                    display: none !important;
                }

                .stat {
                    border: none !important;
                }
            }

            .buttonBottom {
                order: 5;
                margin-top: 18px;
            }
        }
    }
}
