@import "/src/variables";

.guildPage {
    margin: 0 auto;
    max-width: 1140px;

    .main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        background-color: transparent;

        h3 {
            font-size: 1.8rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .guildPage {
        .main {
            flex-direction: column;

            .guildCard {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .guildPage {
        .main {
            .maps {
                .guildMap {
                    flex: 100%;
                }
            }
        }
    }
}

/*
@media screen and (max-width: 1140px) {
    .guild {
        margin: 0 10px;
    }
}
*/
