@import "/src/variables";

.guildsMapCard {
    position: relative;
    display: flex;
    padding: 32px;
    background-color: $c-default;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 190px;
        a,
        p {
            position: relative;
            z-index: 1;
        }

        a {
            text-decoration: none;
        }

        h3 {
            gap: 15px;
            font-size: 1.7rem;
            font-weight: 700;
            margin-bottom: 10px;

            p {
                color: $c-text-secondary;
                font-weight: 400;
            }
        }

        .description span {
            color: $c-text-secondary;
        }

        .stats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 0.5rem;
            text-align: right;

            .stat {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 0.75rem;
                font-size: 0.875rem;
                line-height: 100%;
                border-radius: 0.5rem;

                &:not(button, .buttons) {
                    border: 1px solid $c-gold;
                    color: $c-gold;
                }

                .icon {
                    aspect-ratio: 1/1;
                    height: 1rem;

                    path {
                        color: $c-gold;
                    }
                }

                &:nth-child(1) {
                    transform: translateX(15px);
                }
            }

            .buttons:nth-child(3) {
                transform: translateX(-15px);
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 0.5rem;
            width: 100%;
        }
    }

    .cover {
        position: absolute;
        top: 0;
        right: 0;
        aspect-ratio: 1/1;
        height: 340px;
        transform: rotate(20deg) translate(120px, -90px);
        outline: 8px $c-primary solid;
        border: 8px transparent solid;
        overflow: hidden;

        img {
            aspect-ratio: 1/1;
            height: 340px;
            transform: translateX(-80px);
            filter: contrast(80%);
        }
    }
}

@media screen and (max-width: 700px) {
    .guildsMapCard {
        .container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
            margin-top: calc(96px - 32px + 16px);

            .cover {
                position: absolute;
                top: 0;
                transform: none;
                outline: none;
                border: none;
                border-bottom: 8px $c-primary solid;
                height: 96px;
                width: 100%;

                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    transform: none;
                }
            }

            .details {
                display: contents;
            }

            h3,
            p {
                margin: 0;
                text-align: inherit;
            }

            .description {
                order: 1;
            }

            .stats {
                flex-direction: row;
                padding: 8px 0;
                gap: 30px;

                button {
                    display: none !important;
                }

                .stat {
                    border: none !important;
                }
            }

            .buttons {
                justify-content: center;
                margin-top: 18px;
                order: 5;
            }
        }
    }
}
