.map {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 220px;

    .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: 50% !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        z-index: 0;
        filter: blur(3px);
        background: var(--bgURL) lightgray 50% / cover no-repeat;
    }

    .difficulty {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        background-color: #8f48db;
        border-radius: 0 0 10px 0;

        h3 {
            font-size: 18px;
            text-align: center;
            margin: 0;
            font-weight: 600;

            span {
                font-weight: 700;
                font-size: 0.9em;
            }
        }

        p {
            text-align: center;
            font-size: 12px;
            line-height: 15px;
            margin: 0;
        }
    }

    .details {
        position: absolute;
        left: 15px;
        bottom: 15px;
        width: 100%;
        justify-content: space-between;
        z-index: 1;

        h4 {
            margin: 0;
            color: #fff;
            text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
        }

        p {
            margin: 0;
            color: #fff;
            text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        /*.badge {
            display: block;
            padding: 2px 8px;
            border-radius: 31px;
            background: var(--BgColor);

            color: #fff;
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
        }*/
    }
}
