.guildsPage {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: transparent !important;

    .filterContainer {
        display: flex;
        gap: 13px;
        justify-content: space-between;
    }

    .search {
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .guildsPage {
        .filters {
            flex-direction: column;
            .collapse,
            .search {
                margin: 0;
                width: 100%;
            }
        }
    }
}
