@import "/src/variables";

.search {
    display: flex;
    background-color: $c-default;
    gap: 8px;
    border-radius: 8px;
    align-items: center;
    width: 180px;

    &.tritary {
        background-color: $c-tritary;
    }

    input {
        padding: 8px 12px;
        height: 100%;
        border: none;
        font-size: 0.9rem;
        width: 100%;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    .icon {
        padding: 8px;
        padding-right: 12px;
    }
}
