@import "/src/variables";

.collapse {
    position: relative;
    width: 180px;

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 8px 12px;
        font-size: 0.9rem;
        border-radius: 8px;
        border: none;
        background-color: $c-default;

        .arrow {
            transform: rotate(180deg);
            transition: 0.3s;

            &.open {
                transform: rotate(0deg);
            }
        }

        &:focus {
            outline: 2px solid $c-primary;
        }
    }

    .menu {
        position: absolute;
        margin-top: 4px;
        width: 100%;
        max-height: 300px;
        overflow: auto;
        border-radius: 8px;
        z-index: 10;
        background-color: $c-default;

        .option {
            padding: 6px;
            cursor: pointer;
            user-select: none;

            &:not(:last-child) {
                border-bottom: 2px solid $c-default;
            }

            &.active {
                background-color: $c-primary;
                font-weight: 500;
            }
        }
    }
}
