@import "/src/variables";

.guildMenu {
    position: relative;
    /*width: 188px;*/

    &.open {
        .arrow {
            transform: rotate(0deg);
        }

        .head {
            border-radius: 5px 5px 0 0;
        }
    }

    .icon {
        aspect-ratio: 1/1;
        height: 28px;
        border-radius: 8px;
        cursor: pointer;
        opacity: 0.8;

        &.active {
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }
    }

    .arrow {
        aspect-ratio: 1/1;
        margin-left: 10px;
        transform: rotate(180deg);
        transition: 0.3s;
        cursor: pointer;
    }

    .head {
        display: flex;
        align-items: center;
        background: $c-default;
        border-radius: 5px;
        gap: 4px;
        padding: 0 12px;
        height: 100%;

        .separator {
            align-self: stretch;
            border-left: 1px solid rgba($color: #999999, $alpha: 0.5);
            margin-left: 1px;
            margin: 6px 4px;
        }
    }

    .body {
        position: absolute;
        width: 100%;
        background: $c-default;
        border-radius: 0 0 5px 5px;
        z-index: 10;
        display: flex;
        padding: 12px;
        flex-direction: column;
        gap: 16px;

        .item {
            display: flex;
            gap: 13px;
            align-items: center;
            text-decoration: none;
        }

        .guild {
            cursor: pointer;

            .icon {
                opacity: 1;
            }

            p {
                font-size: 1rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .nav {
            align-items: center;

            p {
                color: $c-text-secondary;
                user-select: none;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1/1;
                height: 28px;
                cursor: auto;

                svg path {
                    color: $c-text-secondary;
                }
            }
        }
    }
}
