@import "/src/variables";

.header {
    position: sticky;
    top: 0;
    z-index: 99;

    &.scrolled {
        background-color: $scrolled-header-color;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        max-width: 1140px;
        margin: auto;
        padding: 2rem 0;
        transition: all 0.25s ease;

        .burger {
            display: none;
            aspect-ratio: 1/1;
            height: 25px;
            padding: 10px;
            cursor: pointer;

            svg path {
                color: $c-text-secondary;
            }
        }

        .logo {
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 16px;

            img {
                height: 35px;
                width: 35px;
            }

            p {
                margin: 0;
                font-family: "Poppins", sans-serif;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }

        .common-button {
            height: 40px;
        }

        nav {
            display: flex;
            gap: 0.5rem;

            flex-direction: inherit;
            align-items: inherit;

            .account {
                display: contents;
            }

            .avatar {
                aspect-ratio: 1/1;
                height: 44px;
                border-radius: 50%;
            }
        }

        a.link {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            text-decoration: none;
            padding: 0 0.5rem;
            height: 100%;

            &:hover {
                background-color: rgba($c-default, $alpha: 0.8);
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        .content {
            flex-direction: column;
            gap: 10px;
            padding: 1rem 0;

            .logo {
                display: none;
            }

            nav {
                width: 100%;
                justify-content: space-between;
                align-items: stretch;
                flex-direction: row;
            }

            a.link {
                display: inline;
                justify-content: flex-start;
                padding: 8px 12px;
            }

            .burger {
                display: block;
            }
        }
    }
}
