$c-primary: #006fe5;
$c-primary-hover: #005bbd;

$common-text: white;
$common-para: #868686;

$c-text: white;
$c-text-secondary: #707883;

$scrolled-header-color: #12161c;

$c-default: #1a1c1e;
$c-default-hover: #242629;

$c-tritary: #111213;
$c-tritary-hover: #161718;

$c-discord: #5865f2;
$c-gold: #ffa41c;
